
.testimonialSwiper {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 143px;
    height: 100% !important;
    .swiper-slide{
      height: auto !important;

      .testimonialItem{
        height: 100% !important;
      }
    }
    

.swiper-button-next{
  top: 40% !important;
  background: linear-gradient(45deg, #b381fed0, #c49cfdc9);
  width: 40px !important;
  height: 40px !important;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s all linear;
  &::after{
    content: '' !important;
    background-image: url('../../assets/images/next.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: 30px;

  }

  &:hover{
    background: linear-gradient(90deg, #b381fe, #c49cfd);
        transform: translateY(-3px);
  }
}

.swiper-button-prev{
  top: 40% !important;
  background: linear-gradient(45deg, #b381fed0, #c49cfdc9);;
  width: 40px !important;
  height: 40px !important;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
   transition: .2s all linear;
  &::after{
    content: '' !important;
    background-image: url('../../assets/images/prev.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: 30px;

  }
  
  &:hover{
    background: linear-gradient(90deg, #b381fe, #c49cfd);
        transform: translateY(-3px);
  }
}
}
.BgLightWhite{
    background-color: #C8CAD5;
}
.testimonialItem {
    box-shadow: 15px 5px 20px rgba(60, 30, 20, 0.03);
    min-height: 60px;

    .personImg {
        width: 120px;
        height: 120px;
        margin-top: -60px;
        background-image: linear-gradient(transparent, #f5f1fe);
    }

    .QuoteIcon {
        width: 60px;
        height: 60px;
        background-image: linear-gradient(#e8e7f7, transparent);
        bottom: -35px;
        right: 25px;
    }
}

